In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"C:\Users\DELL\Documents\StudentsPerformance.csv")

In [3]:
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72.0,72.0,74.0
1,female,group C,some college,standard,completed,69.0,90.0,88.0
2,female,group B,master's degree,standard,none,90.0,95.0,93.0
3,male,group A,associate's degree,free/reduced,none,NaN,57.0,44.0
4,male,group C,some college,standard,none,76.0,78.0,75.0
...,...,...,...,...,...,...,...,...
94,female,group B,some college,standard,none,79.0,86.0,92.0
95,male,group C,associate's degree,free/reduced,completed,78.0,81.0,82.0
96,male,group B,some high school,standard,completed,65.0,66.0,62.0
97,female,group E,some college,standard,completed,63.0,72.0,70.0
98,female,group D,some college,free/reduced,none,58.0,67.0,62.0

In [4]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72.0,72.0,74.0
1,female,group C,some college,standard,completed,69.0,90.0,88.0
2,female,group B,master's degree,standard,none,90.0,95.0,93.0
3,male,group A,associate's degree,free/reduced,none,NaN,57.0,44.0
4,male,group C,some college,standard,none,76.0,78.0,75.0

In [5]:
df.tail(7)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
92,male,group C,high school,standard,none,71.0,79.0,71.0
93,male,group C,associate's degree,free/reduced,completed,43.0,45.0,50.0
94,female,group B,some college,standard,none,79.0,86.0,92.0
95,male,group C,associate's degree,free/reduced,completed,78.0,81.0,82.0
96,male,group B,some high school,standard,completed,65.0,66.0,62.0
97,female,group E,some college,standard,completed,63.0,72.0,70.0
98,female,group D,some college,free/reduced,none,58.0,67.0,62.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       99 non-null     object
 1   race/ethnicity               99 non-null     object
 2   parental level of education  99 non-null     object
 3   lunch                        99 non-null     object
 4   test preparation course      99 non-null     object
 5   math score                   96 non-null     float64
 6   reading score                98 non-null     float64
 7   writing score                97 non-null     float64
dtypes: float64(3), object(5)
memory usage: 6.3+ KB

In [7]:
df.describe()

       math score  reading score  writing score
count   96.000000      98.000000      97.000000
mean    60.500000      64.867347      63.237113
std     16.152562      15.658493      16.904618
min      0.000000      17.000000      10.000000
25%     50.000000      55.000000      53.000000
50%     62.000000      66.500000      65.000000
75%     71.000000      74.750000      75.000000
max     97.000000      95.000000      93.000000

In [8]:
df.isnull()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,True,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
94,False,False,False,False,False,False,False,False
95,False,False,False,False,False,False,False,False
96,False,False,False,False,False,False,False,False
97,False,False,False,False,False,False,False,False
98,False,False,False,False,False,False,False,False

In [9]:
df.notnull()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True
3,True,True,True,True,True,False,True,True
4,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...
94,True,True,True,True,True,True,True,True
95,True,True,True,True,True,True,True,True
96,True,True,True,True,True,True,True,True
97,True,True,True,True,True,True,True,True
98,True,True,True,True,True,True,True,True

In [10]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     3
reading score                  1
writing score                  2
dtype: int64

In [11]:
df.notnull().sum()

gender                         99
race/ethnicity                 99
parental level of education    99
lunch                          99
test preparation course        99
math score                     96
reading score                  98
writing score                  97
dtype: int64

In [12]:
df.size

792

In [13]:
df.ndim

2

In [14]:
df.shape

(99, 8)

In [15]:
df=df.dropna()

In [16]:
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72.0,72.0,74.0
1,female,group C,some college,standard,completed,69.0,90.0,88.0
2,female,group B,master's degree,standard,none,90.0,95.0,93.0
4,male,group C,some college,standard,none,76.0,78.0,75.0
5,female,group B,associate's degree,standard,none,71.0,83.0,78.0
...,...,...,...,...,...,...,...,...
94,female,group B,some college,standard,none,79.0,86.0,92.0
95,male,group C,associate's degree,free/reduced,completed,78.0,81.0,82.0
96,male,group B,some high school,standard,completed,65.0,66.0,62.0
97,female,group E,some college,standard,completed,63.0,72.0,70.0
98,female,group D,some college,free/reduced,none,58.0,67.0,62.0

In [17]:
df['writing score']=df['writing score'].astype(int)

C:\Users\DELL\AppData\Local\Temp\ipykernel_15204\1204188037.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['writing score']=df['writing score'].astype(int)

In [18]:
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72.0,72.0,74
1,female,group C,some college,standard,completed,69.0,90.0,88
2,female,group B,master's degree,standard,none,90.0,95.0,93
4,male,group C,some college,standard,none,76.0,78.0,75
5,female,group B,associate's degree,standard,none,71.0,83.0,78
...,...,...,...,...,...,...,...,...
94,female,group B,some college,standard,none,79.0,86.0,92
95,male,group C,associate's degree,free/reduced,completed,78.0,81.0,82
96,male,group B,some high school,standard,completed,65.0,66.0,62
97,female,group E,some college,standard,completed,63.0,72.0,70
98,female,group D,some college,free/reduced,none,58.0,67.0,62

In [19]:
df['gender'].replace({'female':0,'male':1}, inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_15204\2462056880.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['gender'].replace({'female':0,'male':1}, inplace=True)
C:\Users\DELL\AppData\Local\Temp\ipykernel_15204\2462056880.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['gender'].replace({'female':0,'male':1}, inplace=True)
C:\Users\DELL\AppData\Local\Temp\ipykernel_15204\2462056880.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['gender'].replace({'female':0,'male':1}, inplace=True)

In [20]:
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,0,group B,bachelor's degree,standard,none,72.0,72.0,74
1,0,group C,some college,standard,completed,69.0,90.0,88
2,0,group B,master's degree,standard,none,90.0,95.0,93
4,1,group C,some college,standard,none,76.0,78.0,75
5,0,group B,associate's degree,standard,none,71.0,83.0,78
...,...,...,...,...,...,...,...,...
94,0,group B,some college,standard,none,79.0,86.0,92
95,1,group C,associate's degree,free/reduced,completed,78.0,81.0,82
96,1,group B,some high school,standard,completed,65.0,66.0,62
97,0,group E,some college,standard,completed,63.0,72.0,70
98,0,group D,some college,free/reduced,none,58.0,67.0,62